<!-- templates/welcome.html -->
{% extends 'quiz/base.html' %}

{% load static %}

{% block title %}SpotiPlay - Welcome{% endblock %}
{% block data_page %}welcome{% endblock %}

{% block content %}
    <div class="intro-section">
        <h1>Welcome, <span class="highlight">{{ display_name }}</span></h1>
        <p class="subtitle">Ready to test your music knowledge?</p>
    </div>
    <div class="card-group">
        <a class="card card-button" id="play-quiz-button" data-quiz-url="{% url 'quiz' %}">
            <div class="card-content">
                <i class="fas fa-play"></i>
                Play Quiz
            </div>
        </a>
        <a class="card card-button" href="{% url 'leaderboard' %}">
            <div class="card-content">
                <i class="fas fa-trophy"></i>
                Leaderboard
            </div>
        </a>
        <a class="card card-button" href="{% url 'profile' %}">
            <div class="card-content">
                <i class="fas fa-user"></i>
                Profile
            </div>
        </a>
    </div>

<!-- Quiz Customization Modal -->
<div id="quiz-customization-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h2>Quiz Settings</h2>
            <span class="close">&times;</span>
        </div>
        <form id="quiz-customization-form">
            <div class="form-group">
                <h3 class="modal-settings-title" for="global-time">Time Limit</h3>
                <select id="global-time" name="global-time" class="btn-dropdown btn-dropdown-modal">
                    <option value="5">5 seconds</option>
                    <option value="30" selected>30 seconds</option>
                    <option value="30">60 seconds</option>
                </select>
            </div>
            <div class="form-group">
                <h3 class="modal-settings-title" for="song-duration">Snippet Length</h3>
                <select id="song-duration" name="song-duration" class="btn-dropdown btn-dropdown-modal">
                    <option value="2">2 seconds</option>
                    <option value="5" selected>5 seconds</option>
                    <option value="10">10 seconds</option>
                </select>
            </div>
            <div class="form-group">
                <h3 class="modal-settings-title" for="time-period">Time Period</h3>
                <select id="time-period" name="time-period" class="btn-dropdown btn-dropdown-modal">
                    <option value="short_term">4 weeks</option>
                    <option value="medium_term" selected>6 months</option>
                    <option value="long_term">Lifetime</option>
                </select>
            </div>
            <div class="form-group">
                <div class="toggle-label-container">
                    <h3 class="modal-settings-title toggle-label" for="quiz-type-toggle">Multiple Choice</h3>
                    <small>Recommended for mobile users.</small>
                </div>
                <label for="quiz-type-toggle" class="switch">
                    <input type="checkbox" id="quiz-type-toggle">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="modal-button-container">
                <button id="start-quiz-button" class="btn-primary" type="button">Start Quiz</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'quiz/js/quiz/quizCustomization.js' %}"></script>
{% endblock %}
